export default {
  theme: {
    extend: {
      colors: {
        ucs: {
          50: 'oklch(var(--color-ucs-50) / <alpha-value>)',
            100: 'oklch(var(--color-ucs-100) / <alpha-value>)',
            200: 'oklch(var(--color-ucs-200) / <alpha-value>)',
            300: 'oklch(var(--color-ucs-300) / <alpha-value>)',
            400: 'oklch(var(--color-ucs-400) / <alpha-value>)',
            500: 'oklch(var(--color-ucs-500) / <alpha-value>)',
            600: 'oklch(var(--color-ucs-600) / <alpha-value>)',
            700: 'oklch(var(--color-ucs-700) / <alpha-value>)',
            800: 'oklch(var(--color-ucs-800) / <alpha-value>)',
            900: 'oklch(var(--color-ucs-900) / <alpha-value>)',
            950: 'oklch(var(--color-ucs-950) / <alpha-value>)',
        }

        ,
      }

      ,
    }

    ,
  }

  ,
}